.main-content {
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);
    margin: 6em auto;
    display: flex;
    overflow: hidden;
    border: 1px solid #113974
}
.company__info {
    background-color: #113974;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.login_form {
    background-color: #fff;
    padding: 2rem;
    flex-grow: 1;
}
.form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 1em 0.5em;
    padding-left: 2em;
    outline: none;
    margin-bottom: 1.5em;
    transition: all 0.3s ease;
}
.form__input:focus {
    border-color: #113974;
    box-shadow: 0 0 5px rgba(0,80,80,.4);
    border-radius: 4px;
}
.btn-custom {
    width: 70%;
    border-radius: 30px;
    color: #113974;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #113974;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.btn-custom:hover {
    background-color: #113974;
    color: #fff;
}
.text-danger {
    font-size: 0.9em;
}
@media (max-width: 768px) {
    .company__info {
        display: none;
    }
    .main-content {
        border-radius: 20px;
    }
    body {
        background-color: #113974;
    }
}
.text-main{
    color: #113974
}